<div class="flex gap-6">
  <nav class="w-56 h-screen bg-slate-300 p-4 pt-8">
    <button (click)="newNote()"
     class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
      Nouvelle note
    </button>
  </nav>
  <div>
    @for(note of notes; track note) {
      <div>
        {{note.content}}
      </div>
    }
  </div>
  @if(false) {
    <app-note></app-note>
  }
</div>